/* ============================ */
/* HEADER                       */
/* ============================ */

#header {
  padding-top: 0;
}

#header .container {
  padding: 0 14px 0 0;
}

#header h2 a {
  width: auto;
  padding: 10px 15px 11px 15px;
  font-size: 14px;
  background: rgba(0,0,0,0.20);
}

body.ltr #header h2 {
  margin: 0 6px 0 0;
}

/* ============================ */
/* NAV                          */
/* ============================ */

#nav li a {
  margin-top: 0;
  padding: 5px 10px;
}

#nav li a.sel {
  border-radius: 0;
}